<div class="row">
    <div class="col-6">
        <app-dona [labels]="dona1" [data]="dona1Data" titulo="Dona#1"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [labels]="dona2" [data]="dona2Data" titulo="Dona#2"></app-dona>

    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona [labels]="dona3" [data]="dona3Data" titulo="Dona#3"></app-dona>

    </div>
    <div class="col-6">
        <app-dona [labels]="dona4" [data]="dona4Data" titulo="Dona#4"></app-dona>

    </div>
</div>